---
---

h1.page-title #{ title }
.page-meta.page-description #{ description }
.page-meta.page-updated #{ updated }

ul.page-links
    - var pages = dirs[name]
    if order == "desc"
        - pages = pages.reverse()
    each page in pages
        li.page-link
            a(href=page.permalink) #{ page.title }
            span.page-link-updated Last updated: #{ page.updated },
            span.page-link-tags Tags: #{ page.tags.join(", ") }