---
---

<h1 class="page-title">{{ title }}</h1>
<div class="page-meta page-description">{{ description }}</div>
<div class="page-meta page-updated">{{ updated }}</div>
{{ content }}
<ul class="page-meta page-tags">
  {% for tag in tags %}
    <li>{{ tag }}</li>
  {% endfor %}
</ul>