---
---

h1.page-title #{ title }
.page-meta.page-description #{ description }
.page-meta.page-updated Last updated: #{ updated }
| !{ content }
div.page-meta.page-tags
    | Tags:
    ul
        each tag in tags
            li #{ tag }